.dragicon {
	-fx-background-radius: 10; 
}

.icon-blue {
	-fx-background-image: url("led.png");
}

.icon-red {
	-fx-background-image: url("battery.png");
}

.icon-green {
	-fx-background-image: url("switch.png");
}

.icon-black {
	-fx-background-image: url("resistor.png");
}

.icon-grey {
	-fx-background-image: url("button.png");
}

.icon-yellow {
	-fx-background-image: url("multimeter.png");
}

.icon-purple {
	-fx-background-image: url("bulb.png");
}